@import "../../styles/_mixins";
@import "../../styles/_variables";

.Header {
  @include flex-element(column, space-between, stretch, nowrap, 0, 100%, 60px);

  .navbar {
    @include flex-element(row, space-between, center, nowrap, 0px, 100%, 60px);
    padding: 10px;
    position: fixed;
    z-index: 10;
    background: $dark-black;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      $dark-black 50%,
      $dark-black 100%
    );
    backdrop-filter: blur(10px);
    .logotype {
      display: flex;
      align-self: center;
    }
    .side {
      @include flex-element(row, flex-end, center, nowrap, 0px, 60%);
      .dropdown {
       
        
        ul {
          @include flex-element(
            row,
            flex-end,
            flex-end,
            $wrap: nowrap,
            $gap: 10px,
            $width: auto,
            $height: auto
          );

          list-style-type: none;

          a {
            text-decoration: none;
            padding: 8px;
            border-radius: 6px;
            color: white;
          }
          a:hover {
            color: $detail-pink;

            font-weight: bold;
          }
        }
      }
    }
  }
}
